<%= form_for [@post, @post.comments.build], remote: true do |f| %>
  <p><%= f.text_area :content, class: "comments-form" %></p>
  <p><%= f.submit class: "comment-button", value: t(".send") %></p>
<% end %>
