<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8">
    <h3><%= @title %>: <%= @user.friends.count %> </h3>
    <% if @users.any? %>
      <ul class="users-follow">
       <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
